<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/basicCandidate.css}">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-
T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-
C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <style>
        p {
            color: white;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home-candidate(canId=${candidate.getId()})}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/jobs/jobComfortableForSkill(canId=${candidate.getId()})}">Suggest Jobs For You</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="app">
        <div class="profile">
            <img src="https://khuenam.vn/uploads/news/post/images/18072024050017_hinh-anh-tuyen-dung_012647407.jpg" alt="avatar">
            <span style="font-size: 20px; font-weight: 600; color: white">Candidate</span>
        </div>
        <div class="info">
            <div th:if="${candidate}">
                <p>Candidate Id: <span th:text="${candidate.getId()}"></span></p>
                <p>Candidate Name: <span th:text="${candidate.getFullName()}"></span></p>
                <p>Candidate Phone: <span th:text="${candidate.getPhone()}"></span></p>
            </div>
        </div>
    </div>
    <button style="border: none; padding: 0 10px; background:none; color: white" onclick="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
    </button>
</nav>
<div th:switch="${jobs}" class="w-100 mx-auto mt-2">
    <h2 th:case="null">No job yet!</h2>
    <div th:case="*">
        <div class="d-flex w-100 justify-content-between px-4">
            <h2>Suggest Job For You</h2>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <b>Filter job by Company Name: </b>
                    <label for="selectCompany"></label>
                    <select id="selectCompany" class="form-select mb-2 mt-2" onchange="handleFilter(this.value)">
                        <option th:value="All" th:text="All"
                                th:selected="${selectedCompanyName != null ? selectedCompanyName.equalsIgnoreCase('all') : ''}"></option>
                        <option th:each="company : ${companies}" th:text="${company.compName}"
                                th:value="${company.compName}"
                                th:selected="${selectedCompanyName != null ? selectedCompanyName.equalsIgnoreCase(company.compName) : ''}"
                        ></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4 mx-3 justify-content-center align-items-center mt-2">
            <div class="col-md-3 mb-4" th:each="job : ${jobs}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${job.jobName}"></h5>
                        <p class="card-text text-dark" th:text="'Company: ' + ${job.getCompany().getCompName()}"></p>
                        <p class="card-text text-dark" th:text="'Address: ' + ${job.getCompany().getAddress()}"></p>
                        <p class="card-text text-dark" th:text="'Contact: ' + ${job.getCompany().getPhone()} + ' || ' + ${job.getCompany().getEmail()}"></p>
                        <p><span class="badge bg-success">Full-Time</span> <span class="badge bg-primary">Remote</span></p>
                        <div class="d-flex justify-content-around align-items-center">
                            <a href="#" class="btn btn-outline-primary btn-sm">Apply Now</a>
                            <a th:href="@{/jobs/candidate/viewDetail(id=${job.getId()})}" class="btn btn-outline-primary btn-sm">View Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p id="ele_canId" th:text="${candidate.getId()}" style="display: none"></p>
</div>

<script type="text/javascript">
    function handleFilter(value) {
        const eleId = document.getElementById("ele_canId");
        window.location.href = "/jobs/filterJobForCandidate/" + eleId.textContent + "/" + value;
    }

    // function getDetailJob(value) {
    //     console.log(value);
    //     window.location.href = "/jobs/candidate/viewDetail?id=" + value;
    // }

    function logout() {
        window.location.href= "/account/logout"
    }
</script>
</body>
</html>