.app {
    width: 180px;
    position: relative;
    &:hover > .info{
        display: block;
        cursor: pointer;
    }
}
.info{
    width: 300px;
    position: absolute;
    top: 50px;
    right: 15px;
    background-color: #2D99E3;
    min-height: 60px;
    border-radius: 20px;
    display: none;
    z-index: 10;
}
p {
    margin: 10px;
    color: white;
}
img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.banner-image {
    width: 100%;
    object-fit: cover;
    border-radius: initial;
    height: 100%;
}

.banner {
    height: calc(100vh - 60px);
    position: relative;
}